/* Home.css */
.home-body {
  height: 100vh;
  background-color: black;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-button {
  margin: 0 20px;
}

.home-button-row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}
