/* Home.css */
.home-body {
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: column;
}

ul, li {
  padding: 0;
  margin: 0;
}

#home-category-nav {
  width: 100%;
  height: 75px;
  padding-left: 35px;
  padding-right: 55px;

  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#home-category-nav li {
  font-weight: 600;
}

#home-category-nav li a {
  color: inherit;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

#home-category-nav li a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  transform: translateX(-50%);
  transition: width 0.5s ease;
}

#home-category-nav li a:hover::after {
  width: 100%;
}