#carousel>* {
    max-width: 100%;
    max-height: 500px;
}

#carousel img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 500px;
    min-height: 275px;
}

.dimmer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dimmer h3 {
    margin-bottom: 35px;
    color: white;
    font-size: 2em;
    font-weight: 750;
}

@media screen and (max-width: 478px) {
    #carousel .league-spartan-bold {
        font-size: 0.7rem;
    }
}