.product-section {
    position: relative;
    padding: 35px;
    margin: 0;
}

h4 {
    font-weight: 700;
    margin-bottom: 15px;
}

.product-section .products {
    display: flex;
    overflow-x: hidden;
    gap: 20px;
    scroll-behavior: smooth;
    overflow: hidden;
}

.product-section .products>* {
    flex: 0 0 330px;
    min-width: 330px !important;
}

.product-section .scroll-btn {
    position: absolute;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    padding: 12px;
    cursor: pointer;
    z-index: 10;
}

.product-section .scroll-left {
    left: 0;
}

.product-section .scroll-right {
    right: 0;
}

@media screen and (max-width: 1060px) {
    .products {
        gap: 10px;
    }
}

@media screen and (max-width: 400px) {
    .product-section .products>* {
        flex: 0 0 100%;
        min-width: 100% !important;
    }
}