.home-body {
    background-color: transparent;
    color: black;
    display: flex;
    flex-direction: column;
}

ul,
li {
    padding: 0;
    margin: 0;
}

#home-category-container {
    width: 100%;
    height: 75px;

    position: relative;
}

#home-category-nav {
    width: 100%;
    list-style: none;
    gap: 35px;
    overflow: hidden;
    text-overflow: hidden;
}

#home-category-nav li {
    font-weight: 600;
}

#home-category-nav li a {
    color: inherit;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    white-space: nowrap;
}

#home-category-nav li a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    width: 0;
    height: 5px;
    background-color: black;
    transform: translateX(-50%);
    transition: width 0.5s ease;
}

#home-category-nav li a:hover::after {
    width: 100%;
}

#home-category-container .scroll-btn {
    background-color: transparent;
    height: 100%;
    border: none;
    outline: none;
    z-index: 10;
    padding: 0;
}

#home-category-container .scroll-btn:hover {
    background-color: transparent;
}

#home-category-container .scroll-btn img {
    display: none;
}

#home-category-container .scroll-btn#prev {
    padding-left: 25px;
    padding-right: 15px;
}

#home-category-container .scroll-btn#next {
    padding-right: 25px;
    padding-left: 15px;
}

@media screen and (max-width: 1060px) {
    #home-category-container .scroll-btn img {
        display: block;
    }
}