section {
    padding: 35px;
    margin: 0;
}

h4 {
    font-weight: 700;
}

.products {
    gap: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    text-overflow: hidden;
}

@media screen and (max-width: 1060px) {
    .products {
        gap: 10px;
    }
}